{% extends 'base.html' %}
{% block title %}출석 현황{% endblock %}

{% block content %}
<div class="dateCal">
    <div id="makeCal"></div>
    <h2 class="userName"> {{info}}반 {{user}}님의 출결현황입니다.<a href="#">[Reset]</a></h2>
    <table>
        <tr>
            <th>단위기간</th><th>결석</th><th>지각</th><th>조퇴</th><th>외출</th><th>출석일</th>
        </tr>
        <tr>
            <td>{{ dayinfo.unit }}</td>
            <td><a href="#">[+]</a> {{ absen }} <a href="#">[-]</a></td>
            <td><a href="#">[+]</a> {{ late }} <a href="#">[-]</a></td>
            <td><a href="#">[+]</a> {{ early }} <a href="#">[-]</a></td>
            <td><a href="#">[+]</a> {{ out }} <a href="#">[-]</a></td>
            <td id="checkDay"></td>
        </tr>
        <p>*버튼을 클릭하여 출결을 입력해 주십시오.(출석일은 자동계산됩니다.)</p>
        <tr>
            <th colspan="6">이번달 훈련장려금</th>
        </tr>
        <tr>
            <th colspan="2">일반</th>
            <td colspan="4" id="moneyVal_1"></td>
        </tr>
        <tr>
            <th colspan="2">취업성공패키지</th>
            <td colspan="4" id="moneyVal_2"></td>
        </tr>
    </table>
</div>

<script>
var checkDay = document.getElementById('checkDay')
var checkMoney1 = document.getElementById('moneyVal_1')
var checkMoney2 = document.getElementById('moneyVal_2')
allCal({{late}},{{early}},{{out}},{{absen}})
function allCal(la,ea,ou,ab){
    var event = la + ea + ou;
    if (event >= 3) {
        event = event / 3;
        event = Math.floor(event);
        val1 = {{ dayinfo.unit }} - ab - event;
        val2 = {{ dayinfo.limit }} - ab - event;
    } else {
        val1 = {{ dayinfo.unit }} - ab;
        val2 = {{ dayinfo.limit }} - ab;
    }
    checkDay.textContent = val1
    checkMoney1.textContent = (val2 * 10000) + (val2 * 5800) + '원';
    checkMoney2.textContent = (val2 * 15000) + (val2 * 5800) + '원';
};





var make = document.getElementById('makeCal')
var date = new Date();
var y = date.getFullYear();
var m = date.getMonth();
var d = date.getDate();
var theDate = new Date(y, m, 1);
var theDay = theDate.getDay()
var last = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
if (y % 4 && y % 100 != 0 || y % 400 ===0 ) {
    lastDate = last[1] = 29;
}
var lastDate = last[m]
var row = Math.ceil((theDay + lastDate) / 7);
make.innerHTML = '<h1 class="calHead">'+ y + '년 ' + (m+1) + '월'+'</h1>';
var cal = '<table>';
cal += '<tr>';
cal += '<th>일</th>';
cal += '<th>월</th>';
cal += '<th>화</th>';
cal += '<th>수</th>';
cal += '<th>목</th>';
cal += '<th>금</th>';
cal += '<th>토</th>';
cal += '</tr>';
var dNum = 1;
for (var i = 1; i <= row; i++) {
            cal += '<tr>';
            for (var k = 1; k <= 7; k++) {
                if (i === 1 && k <= theDay || dNum > lastDate) {
                    cal += '<td> &nbsp; </td>';
                } else if (dNum === d){
                    cal += '<td class="today">'+ dNum + '</td>';
                    dNum++;
                } else {
                    cal += '<td>'+ dNum + '</td>';
                    dNum++;
                }
            }
            cal += '</tr>';
        }
make.innerHTML += cal
</script>
{% endblock %}